---
layout: home
---

<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <script src="{{ site.baseurl }}/assets/js/d3.min.js" language="JavaScript"></script>
    <script src="{{ site.baseurl }}/assets/js/liquidFillGauge.js" language="JavaScript"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  </head>
  <body>
      
      <div id="parent_fin">
          <div id="fillgauge1_parent" onclick="gauge1.update(NewValue());">
            <svg id="fillgauge1" width="225" height="200"></svg>
            <h3>Training Total Metric</h3>
        </div>
        <div id="fillgauge2_parent" onclick="gauge2.update(NewValue());">
            <svg id="fillgauge2" width="225" height="200"></svg>
            <h3>Eval Total Metric</h3>
        </div>
    </div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Req Src" title="Type in a name">
    <div class="table_container">
        <script type='text/javascript' src='{{ site.baseurl }}/assets/js/tablescript.js'></script>
    </div>
    
    <script>
        var config1 = liquidFillGaugeDefaultSettings();
        config1.circleColor = "#FF7777";
        config1.textColor = "#FF4444";
        config1.waveTextColor = "#FFAAAA";
        config1.waveColor = "#FFDDDD";
        config1.circleThickness = 0.2;
        config1.textVertPosition = 0.2;
        config1.waveAnimateTime = 1000;
        var config2 = liquidFillGaugeDefaultSettings();
        config2.circleColor = "#FF7777";
        config2.textColor = "#FF4444";
        config2.waveTextColor = "#FFAAAA";
        config2.waveColor = "#FFDDDD";
        config2.circleThickness = 0.2;
        config2.textVertPosition = 0.2;
        config2.waveAnimateTime = 1000;

        function NewValue(){
            if(Math.random() > .5){
                return Math.round(Math.random()*100);
            } else {
                return (Math.random()*100).toFixed(1);
            }
        }

        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
        
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
  </body>
</html>