* {
  box-sizing: border-box;
}

#tablewrapper {
  display: block;
  overflow-y: scroll;
  overflow-x: scroll;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  width: 100%;
}

#myTable {
  display: block;
  width: 150%;
  border-collapse: collapse;
  height: 400px;
  border: 1px solid #ddd;
  overflow-x: scroll;
  font-size: 13px;
  margin: auto;
  margin-left: -24%;
}
th {
  white-space: nowrap;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#fillgauge1_parent, #fillgauge2_parent {
  width: 40%;
  display: inline-block;
  position: relative;
  text-align: center;
}
#fillgauge1, #fillgauge2 {
  display: inline-block;
}

#parent_fin {
  width: 100%;
  text-align: center;
}